<ion-card class="photo-card">

  <ion-card-header>

    <ion-card-title class="photo-title">

      <ion-icon name="camera-outline"></ion-icon>
      Comprobante

    </ion-card-title>

  </ion-card-header>


  <ion-card-content>

    <div class="photo-preview" *ngIf="foto">

      <img [src]="foto">

    </div>

    <div class="photo-actions">

      <ion-button
        expand="block"
        class="btn-camera"
        (click)="tomarFoto()">

        <ion-icon name="camera-outline" slot="start"></ion-icon>

        Tomar foto

      </ion-button>


      <ion-button
        expand="block"
        fill="outline"
        class="btn-gallery"
        (click)="galeria()">

        <ion-icon name="images-outline" slot="start"></ion-icon>

        Galería

      </ion-button>


      <ion-button
        *ngIf="foto"
        expand="block"
        class="btn-delete"
        (click)="eliminar()">

        <ion-icon name="trash-outline" slot="start"></ion-icon>

        Eliminar foto

      </ion-button>

    </div>

  </ion-card-content>

</ion-card>