.photo-card{

border-radius:16px;

box-shadow:0 6px 14px rgba(0,0,0,0.08);

}

.photo-title{

display:flex;
align-items:center;
gap:6px;

font-weight:600;

}

.photo-title ion-icon{

font-size:20px;

color:#7A3A8E;

}


.photo-preview{

margin-bottom:12px;

display:flex;
justify-content:center;

}

.photo-preview img{

width:100%;
max-height:180px;

object-fit:cover;

border-radius:12px;

box-shadow:0 6px 14px rgba(0,0,0,0.15);

}

.photo-actions ion-button{

margin-top:8px;

height:46px;

border-radius:12px;

font-weight:500;

}

.btn-camera{

--background:#7A3A8E;

}

.btn-gallery{

--color:#7A3A8E;

--border-color:#7A3A8E;

}

.btn-delete{

--background:#E53935;

}