<ion-content class="register-page">

  <!-- botón volver -->

  <div class="back-button">

    <ion-button fill="clear" (click)="volverLogin()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

  </div>


  <div class="register-container">
    <img src="assets/LogoWallet.png" class="register-image">
    <h1>Register</h1>
    <p class="subtitle">Create your account</p>

    <form [formGroup]="form">

      <div class="input-group">

        <ion-icon name="person-outline"></ion-icon>

        <ion-input
        placeholder="Full name"
        formControlName="nombre">
        </ion-input>

      </div>


      <div class="input-group">

        <ion-icon name="mail-outline"></ion-icon>

        <ion-input
        placeholder="Email"
        type="email"
        formControlName="email">
        </ion-input>

      </div>

      <div class="input-group">

        <ion-icon name="lock-closed-outline"></ion-icon>

        <ion-input
        placeholder="Password"
        type="password"
        formControlName="password">
        </ion-input>

      </div>

      <ion-button
      expand="block"
      class="register-button"
      (click)="register()"
      [disabled]="form.invalid">

      Create Account

      </ion-button>


      <p class="login-link">

        Already have an account?

        <span (click)="volverLogin()">
          Login
        </span>

      </p>

    </form>

  </div>

</ion-content>