<ion-header class="detalle-header">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-button fill="clear" (click)="volver()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-title class="title-detalle">Detalle</ion-title>

  </ion-toolbar>

</ion-header>


<ion-content *ngIf="transaccion" class="detalle-content">

  <!-- tarjeta principal -->

  <ion-card class="detalle-card">

    <ion-card-content>

      <div class="categoria">
        {{ transaccion.categoria }}
      </div>

      <app-amount-display
        [monto]="transaccion.monto"
        [tipo]="transaccion.tipo"
        tamano="large">
      </app-amount-display>

      <div class="tipo">
        {{ transaccion.tipo }}
      </div>

      <div class="fecha">

        <ion-icon name="calendar-outline"></ion-icon>

        {{ transaccion.fecha | date:'mediumDate' }}

      </div>

      <div class="descripcion">

        <ion-text color="medium">
          Descripción
        </ion-text>

        <p>
          {{ transaccion.descripcion || 'Sin descripción' }}
        </p>

      </div>

    </ion-card-content>

  </ion-card>


  <!-- comprobante -->

  <ion-card
  *ngIf="transaccion.foto"
  class="foto-card">

    <app-photo-preview
      [src]="transaccion.foto"
      size="large"
      (photoClick)="abrirFoto()">
    </app-photo-preview>

  </ion-card>


  <!-- botones -->

  <div class="acciones">

    <ion-button
      expand="block"
      class="btn-editar"
      (click)="editar()">

      Editar

    </ion-button>


    <ion-button
      expand="block"
      class="btn-eliminar"
      (click)="eliminar()">

      Eliminar

    </ion-button>

  </div>

</ion-content>